[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
pandas = "*"
scikit-learn = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
